body
{	background: #efefef;
	color: #4C4C4C;
	font-family: Arial;
	font-size: 16px;
	margin: 0;
}
header
{
	background: #434343; 
	padding: 0.5em;
	color: white;
}
header h1{
	font-size: 18px;
	font-weight: normal;
}
header #logo img{
	width: 52px;	 
}

a{
	color: #22BCE0;
}